:root {
  --color-primary: #FFFFFF;
  --color-primary-tint: #F1F5F6;
  --color-primary-shade: #E5E5E5;
  --color-secondary: #242540;
  --color-secondary-tint: #9090AA;
  --color-secondary-shade: #43435E;
  --color-tertiary: #2087FF;
  --color-tertiary-tint: #135593;
  --color-tertiary-shade: #2D71B0;
  --text-purple-gray: #70758F;
  --text-gray-light: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::selection  {
  background: var(--color-tertiary);
  color: white;
  /* background: white; */
  /* color: var(--color-tertiary); */
}

ul {
  list-style: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
